#ctl00_PageBody_productDetail_ctl00_btnShowStock{
display: none !important;
}
a#ctl00_PageBody_productDetail_ctl00_btnShowStock{
Display: none;
}

#ctl00_PageBody_productDetail_entryInputDiv, #ctl00_PageBody_productDetail_entryInputDiv div div div table, #ctl00_PageBody_productDetail_productDescription{
width: 100% !important;
}

#ctl00_PageBody_productDetail_ProductImage{
width: auto !important;
height: auto !important;
max-height: 600px;
max-width: 100%;
}

.rmpView iframe{
background-color: #f0f0f0;
}

#product-page {
    flex-direction: column;
  }

  #product-image-wrapper {
    order: 1;
  }

  #product-sidebar {
    order: 2;
  }

  #product-main {
    order: 3;
  }
  #stock-widget{
    width: 100%;
  }











  /* ===== PRODUCT DETAIL (likely ProductDetail.aspx) ===== */

#ctl00_PageBody_productDetail_ctl03,
#ctl00_PageBody_productDetail_ctl04,
#ctl00_PageBody_productDetail_ctl05 {
  display: inline !important;
}

/* If you're hiding the iframe and replacing it with injected HTML */
#DescriptionIframe {
  display: none !important;
}

.productDescriptionOnThisPageFull {
  display: none;
}
