#ctl00_PageBody_productDetail_ctl00_btnShowStock{
display: none !important;
}
#product-page {
    flex-direction: column;
  }

  #product-image-wrapper {
    order: 1;
    margin: auto;
  }

  #product-sidebar {
    order: 2;
  }

  #product-main {
    order: 3;
    margin:auto;
  }
  #ctl00_PageBody_productDetail_productDescription{
    width:100% !important;
  }

  #stock-widget{
    width: 100%;
  }







  /* ===== PRODUCT DETAIL (likely ProductDetail.aspx) ===== */

#ctl00_PageBody_productDetail_ctl03,
#ctl00_PageBody_productDetail_ctl04,
#ctl00_PageBody_productDetail_ctl05 {
  display: inline !important;
}

/* If you're hiding the iframe and replacing it with injected HTML */
#DescriptionIframe {
  display: none !important;
}

.productDescriptionOnThisPageFull {
  display: none;
}
