
table.panel.panelAccountInfo{
width: auto !important;
margin: auto !important;
}

table.panel.panelAccountInfo tbody tr{
display: inline-block;
margin-left: 25px;
}

.panelAccountInfoSubtitle{
padding: 5px !important;
    padding-left: 10px !important;
    border-radius: 5px;
    background-color: #f1f1f1;
    text-align: center;
font-size: 15px;
width: 100%;
height: 100px;
color: black;
}

.panelAccountInfoBodyText{
padding: 10px !important;
display: inline;
}

.accountInfoAddress{
width: auto;
}

.accountInfoAddress li {
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
width: auto;
}

table.contactInfo{
width: auto;
display: flex;
justify-content: space-between;
}

table.contactInfo tbody{
display: grid;
}

table.contactInfo tbody tr{
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
width: auto;
}

table.contactInfo tbody tr td table{
display: inline-grid;
width: 100% !important;
}

table.contactInfo tbody tr td table tbody tr{
display: inline-grid !important;
}

table.contactInfo tbody tr td table tbody tr td{
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
width: auto;
}

.mt-1{
display: inline-table;
}

table#ctl00_PageBody_AccountActivity_AccountActivityLeftColumn tbody tr{
display: table-row !important;
}

table.accountActivity_r tbody tr{
display: table-row !important;
}

table#ctl00_PageBody_AgingTable_AgingGrid_ctl00 thead tr{
display: table-row !important;
}

table#ctl00_PageBody_AgingTable_AgingGrid_ctl00 tbody tr{
display: table-row !important;
}

.AccountActivity-title{
width: 800px;
}

.account-aging-title{
width: 800px;
}

#ctl00_PageBody_AgingTable_AgingGrid{
min-width: 1000px;
}

#ctl00_PageBody_accountsTransactionsPanel{
float: inherit !important;
width: auto !important;
max-width: 100% !important;
right: 0px;
display: flow-root;
}





/* ===== ACCOUNT INFO (likely AccountInfo_R.aspx) ===== */

.Accountinfolink {
  min-width: 30%;
  max-width: 40%;
  text-align: center;
  margin: 10px;
  height: 150px;
  font-size: 1.75em;
  font-weight: bold !important;
  padding: 25px;
  float: left;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-content: space-evenly;
  word-break: keep-all;
  text-wrap: balance;
}

#accountlinkdiv {
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
  text-align: center;
}

/* Likely Account page links/buttons */
a#ctl00_PageBody_ManageStoredCardsForCashCustomers {
  margin-top: 25px;
}
